$cardsMargin: 10;

.services {
    background: linear-gradient(180deg, rgba(130, 140, 222, 1) -21.43%, rgba(109, 49, 208, 1) 201.93%);
    padding: em(80) 0 em(20) 0;

    &__title {
        $context: 36;
        font-size: em(36);
        line-height: em(40, $context);
        color: $pam_color6;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: em(80, $context);
    }

    &__row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 em(-$cardsMargin);
    }

    &__item {
        margin: 0 em($cardsMargin);
    }

    &__card {
        margin-bottom: em(60);
    }
}

.services-card {
    display: flex;
    flex-direction: column;
    width: em(380);
    background-color: $pam_color6;
    border-radius: 20px;

    &__picture {
        border-radius: 19px 19px 19px 0px;
        overflow: hidden;
    }
}

.services-card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: em(20) em(30);

    &__picture {
        width: 100%;
    }

    &__title {
        $context: 28;

        font-family: 'Avenir Next', sans-serif;
        color: $pam_color5;
        font-weight: 600;
        font-size: em(28);
        line-height: em(32, $context);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: em(20, $context);
    }

    &__text {
        $context: 16;
        font-family: 'Avenir Next', sans-serif;
        color: $pam_color5;
        font-size: em(16);
        text-align: center;
        margin-bottom: em(20, $context);
    }

    &__button {
        margin-top: em(20);
    }
}

.services-card-picture {
    &__img {
        width: 100%;
    }
}


@media (max-width: px($widthMini)) {
    .services {
        &__item {
            flex-grow: 1;
        }
    }

    .services-card {
        width: 100%;
    }

    .services-card-body {
        &__text {
            max-width: 380px;
        }
    }
}