$browser-context: 14;

$pam_color1: rgba(109, 49, 208, 1);
$pam_color2: rgba(130, 140, 222, 1);
$pam_color3: rgba(255, 219, 128, 1);
$pam_color4: rgba(253, 191, 163, 1);
$pam_color5: rgba(67, 67, 100, 1);
$pam_color6: rgba(255, 255, 255, 1);

$headerHeight: 120;

$widthDefault: 1440;
$widthMedium: 1000;
$widthMini: 768;
$widthMobile: 480;

$containerDefault: 1180;
$containerMedium: 780;
$containerMini: 580;
$containerMobile: 400;