.partners {
    $context: 36;
    background-color: $pam_color6;

    &__title {
        color: $pam_color5;
        font-size: em(36);
        line-height: em(40, $context);
        margin-bottom: em(60, $context);
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: em(80);
        margin-bottom: em(20);
    }

    &__icons {
        margin: 0 em(-10);
    }
}

.partners-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__picture {
        width: em(180);
        height: em(66);
    }

    &__img {
        width: 100%;
    }
}

.partners-icons-picture {
    margin: 0 em(10) em(60);
}