.about-us {
    background: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
    padding: em(40) 8%;
	&__row { 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
	&__info { 
        width: em(480, 14);
    }
	&__founder-card {
        width: em(580);
     }
}

.about-us-info {
    padding-right: em(20);

    &__title {
        display: inline-block;
        position: relative;
        $context: 36;
        font-family: 'Avenir Next', sans-serif;
        font-size: em(36);
        font-weight: 600;
        line-height: em(40, $context);
        letter-spacing: 0;
        color: $pam_color6;
        padding-bottom: em(24, $context);
        &:after {
            content: '';
            position: absolute;
            left: -150%;
            bottom: em(5);
            z-index: 1;
            width: 300%;
            height: em(4, 36);
            border: 2px solid $pam_color4;
        }
    }
	&__text {
        $context: 16;
        font-family: 'Avenir Next', sans-serif;
        font-weight: 400;
        font-size: em(16);
        line-height: em(24, $context);
        letter-spacing: em(0.5, $context);
        color: $pam_color6;
        padding-bottom: em(50, $context);
     }
     &__button {
        margin-bottom: em(44);
     }
}

.about-us-founder-card { 
    $context-text: 16;
    $context-title: 20;

    display: flex;
    width: em(580);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0px 14px 10px 0px #00000040;
    padding: em(20);


	&__column { 
        padding: em(22, $context-title) 0 0 em(30, $context-title);
    }
	&__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: em(20);
        line-height: em(32, $context-title);
        color: $pam_color1;
        padding: 0 0 em(15, $context-title) em(5, $context-title);
    }
	&__text {
        display: inline-block;
        font-family: 'Avenir Next', sans-serif;
        font-size: em(16);
        line-height: em(24, $context-text);
        letter-spacing: em(0.5, $context-text);
        padding-bottom: em(16, $context-text);
    }
	&__button { 
        font-size: em(18);
        width: em(147, 18);
    }
    &__img {
        width: em(280);
    }
}

@media (max-width: 1261px) {
    .about-us {
        &__info {
            width: em(680, 14);
        }
    }
}

@media (max-width: 1000px) {
    .about-us-info {
        &__title {
            text-transform: capitalize;
        }
    }
}

@media (max-width: 768px) {
    .about-us {
        padding: em(40) 0;
        
        &__body {
            width: 80%;
            margin: auto;
        }

        &__row {
            width: 100%;
        }
        &__info {

        }
    }

    .about-us-info {
        padding: 0;
        &__title {
            width: 100%;
            text-align: center;
        }
    }

    .about-us-founder-card {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .about-us {
        &__row {
            justify-content: center;
        }
        &__info { 
            width: em(380, 14);
        }
    }
    
    .about-us-founder-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: em(380);
        padding: em(20) em(50) em(40);

        &__title {
            padding-left: 0;
        }
        &__column {
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}