$designBlockWidth: 220;

.footer {
    background: rgba(130, 140, 222, 1);

}

.footer-body { 
    padding: em(40) 5%;
}

.footer-info { 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &__design {
        width: em($designBlockWidth);
        // margin-left: 15%;
    }
    
    &__content {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-wrap: nowrap;
    
        margin-left: em($designBlockWidth);
    }
}

.footer-info-rights { 
    padding: 0 em(10, 16);
    white-space: nowrap;
    &__text { 
        font-family: 'Avenir Next', sans-serif;
        font-size: em(16);
        line-height: em(24, 16);
        letter-spacing: em(0.5, 16);
        color: $pam_color6;
    }
}

.footer-info-nav { 
    display: flex;
    justify-content: start;

    &__link { 
        $context: 16;
        position: relative;
        font-family: 'Avenir Next', sans-serif;
        font-size: em(16);
        line-height: em(24, $context);
        letter-spacing: em(0.5, $context);
        color: $pam_color6;
        padding: 0 em(9, $context);
        &:hover {
            text-decoration: underline;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: em(3, $context);
            width: em(1, $context);
            height: em(20, $context);
            background-color: $pam_color6;
        }
    }
}

.footer-info-design { 
    &__link {
        font-family: 'Avenir Next', sans-serif;
        font-size: em(16);
        line-height: em(24, 16);
        letter-spacing: em(0.5, 16);
        color: $pam_color6;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 1199px) {
    .footer-info {
        &__content {
            justify-content: flex-start;
            margin-left: 10%;
        }
    }
}


@media (max-width: px($widthMedium)) {
    .footer-info {
        align-items: center;
        justify-content: center;
        &__content {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 0;
        }
    }
    .footer-info-nav {
        width: 100%;
        justify-content: center;
        &__link {
            &:first-child:before {
                display: none;
            }
        }
    }
    .footer-body {
        padding: em(40) 12%;
    }
    .footer-info-rights {
        font-weight: 500;
    }
    
}

@media (max-width: px($widthMini)) {
    .footer-info-nav {
        flex-wrap: wrap;
    }
    
    .footer-info-nav {
        &__link {
            text-align: center;
            width: 100%;
            &:before {
                display: none;
            }
        }
    }
}