.carousel {
    width: 100%;

    &__wrapper {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    &__body {
        min-width: auto;
        height: 300;
        display: flex;
        position: relative;
        align-items: stretch;
        transition: all .5s ease;
    }
}

.carousel-pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    &_vertical {
        flex-direction: column;
    }


    &__item {
        &_horizontal:not(:last-child) {
            margin-right: em(12);
        }

        &_vertical:not(:last-child) {
            margin-bottom: em(12);
        }
    }


    &_vertical {
        flex-direction: column;
    }
}

.carousel-pagination-item {
    width: em(12);
    height: em(12);
    border-radius: 50%;
    border: 2px solid $pam_color6;

    &_active {
        width: em(20);
        height: em(20);
        background-color: $pam_color6;
    }

    &:hover {
        cursor: pointer;
    }
}